{% extends "base.html" %}
{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    {% block custom-head %}

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Спасибо</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {%  endblock %}
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    {% block header %}
      <li><a class="active" href="{% url 'main:index' %}">Главная</a></li>
      <li><a href={% url 'projects:get_all_projects_page' %}>Проекты</a></li>
      <li><a href="{% url 'events:get_all_events_page' %}">События</a></li>
    {% endblock %}
    {% block content %}
    <div class="slider_area">
        <div class="vanta-background">
            <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text text-center">
                                <div class="title-name">
                                    <h3>Спасибо, {{ name }}</h3>
                                    <h4>скоро я с Вами свяжусь</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}d

</body>
</html>